button {
  font-size: 20px;
  width: 75px;
  height: 75px;
  margin: 0.5px;
}

p {
  vertical-align: middle;
  line-height: 24px
}

.calcScreen {
  width: 291px;
  height: 55px;
  background-color: lightgrey;
  border: 1px solid black;
  margin-left: 1px;
  display: inline-block;
  margin-top: 5px;
  text-align: right;
  font-size: 24px;
  padding: 5px;
}

.calculator {
  /* margin: auto; */
  /* padding-top: 1px; */
  display: inline-block;
}

.container {
  text-align:center;
}